html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
  font-style: italic;
}

h4 {
  font-weight: 900;
  font-style: italic;
}

.image-top {
  border-top: solid 10px;
  border-image: linear-gradient(145deg, rgba(255, 0, 12, 1) 0%, rgba(255, 0, 144, 1) 100%);
  border-image-slice: 1;
  box-shadow: 2px 3px 3px 1px rgba(74, 74, 74, 0.2);
}
